<!DOCTYPE HTML>

<html>

<head>
    <% include ../partials/header %>
</head>

<body style="padding: 0;">
    <% include ../partials/navbar %>


    <div class="container">
        <br>
        <div class="alert alert-warning" role="alert">
            <%= disclaimer %>
        </div>

        <h2>welcome to the front page</h2>

        <h5>here is the list of choices you have now: </h5>
        <br>

        <div id="stockApp"></div> 
        <div class="list-group">
            <% stocks.forEach(function(stock) { %>
               <a href="#" class="list-group-item list-group-item-action">
                    <%= stock.symbol %>, <%= stock.open %>, <%= stock.close %>, <%= stock.trades %>
               </a>
            <% }) %>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <% include ../partials/footer %>
    </div>



</body>

</html>